.main-board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-board-container div {
  margin: 20px;
}
.add-new-quiz-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 50px;
  background-color: #333333;
  border: 1px solid rgb(71, 71, 71);
  border-radius: 10px;
  box-shadow: 0 4px 4px 4px gray;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  font-size: large;
  font-weight: bold;
}
.add-new-quiz-button:hover {
  filter: drop-shadow(15px 5px 15px gray);
}
.logo {
  width: 75%;
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: color-burn;
}
.logo:hover {
  filter: drop-shadow(15px 5px 15px black);
  /* box-shadow: 15px 5px 15px black; */
}
